<nav>
    <div id="HeaderNav">
        <div id="HeaderNavMenu">
            <div id="HeaderNavMenuAccodion">
                Menu
                <h3>メニュー</h3>
                <ul>
                    <li><a href="../index.html">トップページ</a></li>
                    <li>アップデート情報</li>
                    <li>MOD</li>
                    <li>旧メニュー</li>
                </ul>
                <h3>初心者ガイド</h3>
                <ul>
                    <li>覚えておくと便利な操作</li>
                    <li>ゲームスタート設定
                        <ul>
                            <li>惑星選択</li>
                        </ul>
                    </li>
                    <li>初心者向け指南
                        <ul>
                            <li>プレイ方針</li>
                        </ul>
                    </li>
                    <li>FAQ(5ch Q&A)</li>
                    <li>日本語化</li>
                    <li>ゲームの軽量化</li>
                </ul>
                <h3>ゲームガイド</h3>
                <ul>
                    <li>全般的なもの</li>
                    <li>複製人間
                        <ul>
                            <li>スキル</li>
                            <li>士気</li>
                            <li>ストレス</li>
                            <li>スケジュール</li>
                        </ul>
                    </li>
                    <li>食料
                        <ul>
                            <li>食料考察</li>
                        </ul>
                    </li>
                    <li>研究</li>
                    <li>ルーム</li>
                    <li>水</li>
                    <li>気体</li>
                    <li>大気</li>
                    <li>パイプ</li>
                    <li>熱関係</li>
                    <li>電気</li>
                    <li>植物</li>
                    <li>動物</li>
                    <li>病原菌と病気</li>
                    <li>回路</li>
                    <li>バイオーム</li>
                    <li>間欠泉</li>
                    <li>宇宙
                        <ul>
                            <li>ロケット打ち上げ</li>
                        </ul>
                    </li>
                    <li>液体クーラー</li>
                    <li>精錬装置</li>
                    <li>設備のダメージ</li>
                    <li>サンドボックスモード・デバッグモード</li>
                </ul>
                <h3>Tips</h3>
                <ul>
                <h3 id="REDWord">ネタバレ注意</h3>
                    <li>気体関連</li>
                    <li>熱関連</li>
                    <li>牧場関連</li>
                    <li>農場関連</li>
                    <li>宇宙関連</li>
                    <li>間欠泉関連</li>
                    <li>その他・小ネタ</li>
                    <li>実績</li>
                </ul>
                <h3>データ</h3>
                <ul>
                    <li>固体</li>
                    <li>液体</li>
                    <li>気体</li>
                    <li>装飾</li>
                </ul>
                <h3>施設</h3>
                <ul>
                    <li>基地</li>
                    <li>酸素</li>
                    <li>電力</li>
                    <li>食料</li>
                    <li>配管</li>
                    <li>換気</li>
                    <li>精製</li>
                    <li>医療</li>
                    <li>家具</li>
                    <li>端末</li>
                    <li>その他</li>
                    <li>自動化</li>
                    <li>輸送</li>
                    <li>ロケット</li>
                    <li>遺跡</li>
                    <li>おすすめ</li>
                </ul>
                <h3>その他</h3>
                <ul>
                    <li>wiki編集ガイドライン</li>
                    <li>updateアニメ集</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</header>
<script>
    $("#HeaderNavMenuAccodion").accordion();
</script>