h1 {
    margin: 0px 0px 0px 500px;
}
#HeaderNav {
    float: left;
}
footer{
    clear: both;
}
#HeaderNavMenuAccodion{
    font-size: 15px;
    width: 180px;
}
#HeaderNavMenuAccodion ul {
    padding: 2px;
    /*height: 200px;*/
}
h3#REDWord {
    margin:auto;
    color: red;
}