#HeaderNav {
    float: left;
}
footer{
    clear: both;
}
#HeaderNavMenuAccodion {
    width: 250px;
}
#HeaderNavMenuAccodion{
    font-size: 15px;
    width: 180px;
}
#HeaderNavMenuAccodion ul {
    padding: 2px;
}
h3#REDWord {
    margin:auto;
    color: red;
}